header {
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  background: #333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

header input {
  background: #000;
  width: 416px;
  height: 36px;
  border: 0;
  border-radius: 36px;
  padding: 0 18px;
  font-weight: 500;
  font-size: 14px;
  color: #878787;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  box-sizing: border-box;
  outline: none;
  margin-left: 25px;
}

header .link {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background: none;
  border: none;
  margin-left: 25px;
  padding: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

.logo {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: text-bottom;
}